<div class="container">
	<div class="row top-30">
		<div class="col-md-3 top-30">
  			<div>
  				<h4>Events by Category</h4>
  			</div>
  			<div class="list-group">
				<a class="list-group-item" href="/events">All Events</a>
				<a class="list-group-item" href="/events-conference">Conference</a>
				<a class="list-group-item" href="/events-cultural">Cultural</a>
				<a class="list-group-item" href="/events-social">Social</a>
				<a class="list-group-item" href="/events-sports">Sports</a>
  			</div>
		</div>
		<div class="col-md-8">
				<h1>Upcoming Events</h1>
				<hr>
				<ul class="list-group">
				
					<li class="list-group-item">
					{{#each Events}}
						    <h2>{{this.name}}<small>&nbsp;&nbsp;{{this.date}}</small></h2>
							<h4><span>Time:</span> {{this.time}}</h4>
							<h4><span>Venue:</span> {{this.venue}}</h4>
							<h4>Category:<span style="color: #5F9FCF">&nbsp;{{this.category}}</span></h4>
						    <p><span>Details:</span> {{this.description}}</p>
						    
							<form action="/api/events/{{this.id}}" method="POST" class="col-md-2">
								<input type="hidden" name="id" value="{{this.id}}">
								<button type="submit" class="btn btn-danger">Delete</button>
							</form>
							<a href="/update/{{this.id}}" type="submit" class="btn btn-success">Update</a>
							<hr>   
					{{/each}}    	   
					</li>
				</ul>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>